/****** Object:  StoredProcedure [dbo].[RepFacturaVentaxArt2]    Script Date: 14/04/2026 6:58:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		SOFTECH SISTEMAS
-- Create date: <03/06/2010>
-- Description:	<Reporte de Factura de Ventas por Artículos 2>
-- =============================================
CREATE PROCEDURE [dbo].[RepFacturaVentaxArt2_DM]
	-- Add the parameters for the stored procedure here
    @cCo_Articulo_d CHAR(30) = NULL ,
    @cCo_Articulo_h CHAR(30) = NULL ,
    @dCo_fecha_d SMALLDATETIME = NULL ,
    @dCo_fecha_h SMALLDATETIME = NULL ,
    @cCo_cliente_d CHAR(16) = NULL ,
    @cCo_cliente_h CHAR(16) = NULL ,
    @cCo_Vendedor_d CHAR(6) = NULL ,
    @cCo_Vendedor_h CHAR(6) = NULL ,
    @cCo_Linea_d CHAR(6) = NULL ,
    @cCo_Linea_h CHAR(6) = NULL ,
    @cCo_SubLinea_d CHAR(6) = NULL ,
    @cCo_SubLinea_h CHAR(6) = NULL ,
    @cCo_Categoria_d CHAR(6) = NULL ,
    @cCo_Categoria_h CHAR(6) = NULL ,
    @cCo_Almacen_d CHAR(6) = NULL ,
    @cCo_Almacen_h CHAR(6) = NULL ,
    @cCo_Transporte_d CHAR(6) = NULL ,
    @cCo_Transporte_h CHAR(6) = NULL ,
    @cCo_Moneda CHAR(6) = NULL ,
    @cStatus CHAR(6) = NULL ,
    @cAnulado CHAR(6) = NULL ,
    @cCo_Sucursal CHAR(6) = NULL ,
    @sCampOrderBy VARCHAR(16) = NULL ,
    @sDir VARCHAR(6) = NULL ,
    @bHeaderRep BIT = 0
AS 
    BEGIN
        SET NOCOUNT ON ;
	
        IF @dCo_fecha_d IS NOT NULL 
            SET @dCo_fecha_d = dbo.FechaSimple(@dCo_fecha_d)
        IF @dCo_fecha_h IS NOT NULL 
            SET @dCo_fecha_h = dbo.FechaSimple(@dCo_fecha_h)

-- Insert statements for procedure here

-------------------------------
        IF ( @cStatus IS NULL ) 
            SET @cStatus = 'TODO'
        IF ( @cAnulado IS NULL ) 
            SET @cAnulado = 'TODO'
-------------------------------

        SELECT
            Filtro_anulado, tip_rep, 
			co_cli, co_ven, fec_emis, 
			anulado, reng_num, doc_num, 
			co_art, co_uni, co_alma,
            prec_vta, iva, total_art, 
			otros, monto_base, art_des, 
			modelo, 
			ROUND(( monto_base + iva + otros ), 2) AS neto,
			A.co_lin,
			A.co_subl,
			A.tasa
        FROM
            ( SELECT
                @cAnulado AS Filtro_anulado, 'venta' AS tip_rep, FV.co_cli, FV.co_ven, FV.fec_emis, FV.anulado,
                FVR.reng_num, FVR.doc_num, FVR.co_art, FVR.co_uni, FVR.co_alma, FVR.monto_desc, FVR.monto_desc_glob,
                FVR.monto_reca_glob, ( FVR.prec_vta * FVR.total_art ) AS prec_vta,
                ROUND(( FVR.monto_imp + FVR.monto_imp_afec_glob ), 2) AS iva,
                ROUND(dbo.ArtUnidadBase(FVR.co_art, FVR.co_uni, FVR.total_art), 2) AS total_art,
                ROUND(( FVR.otros1_glob + FVR.otros2_glob + FVR.otros3_glob ), 2) AS otros,
                ROUND(( ( FVR.prec_vta * FVR.total_art ) - FVR.monto_desc - FVR.monto_desc_glob + FVR.monto_reca_glob ), 2) AS monto_base,
				ART.art_des, ART.modelo, ART.co_lin, ART.co_subl, FV.tasa
              FROM
                saFacturaVenta AS FV
                INNER JOIN saFacturaVentaReng AS FVR ON FVR.doc_num = FV.doc_num
                INNER JOIN saArticulo AS ART ON ART.co_art = FVR.co_art
              WHERE
                ( ( @cCo_Articulo_d IS NULL
                    OR FVR.co_art >= @cCo_Articulo_d
                  )
                  AND ( @cCo_Articulo_h IS NULL
                        OR FVR.co_art <= @cCo_Articulo_h
                      )
                )
                AND ( ( @dCo_fecha_d IS NULL
                        OR dbo.FechaSimple(FV.fec_emis) >= @dCo_fecha_d
                      )
                      AND ( @dCo_fecha_h IS NULL
                            OR dbo.FechaSimple(FV.fec_emis) <= @dCo_fecha_h
                          )
                    )
                AND ( ( @cCo_cliente_d IS NULL
                        OR FV.co_cli >= @cCo_cliente_d
                      )
                      AND ( @cCo_cliente_h IS NULL
                            OR FV.co_cli <= @cCo_cliente_h
                          )
                    )
                AND ( ( @cCo_Vendedor_d IS NULL
                        OR FV.co_ven >= @cCo_Vendedor_d
                      )
                      AND ( @cCo_Vendedor_h IS NULL
                            OR FV.co_ven <= @cCo_Vendedor_h
                          )
                    )
                AND ( ( @cCo_Linea_d IS NULL
                        OR ART.co_lin >= @cCo_Linea_d
                      )
                      AND ( @cCo_Linea_h IS NULL
                            OR ART.co_lin <= @cCo_Linea_h
                          )
                    )
                AND ( ( @cCo_SubLinea_d IS NULL
                        OR ART.co_subl >= @cCo_SubLinea_d
                      )
                      AND ( @cCo_SubLinea_h IS NULL
                            OR ART.co_subl <= @cCo_SubLinea_h
                          )
                    )
                AND ( ( @cCo_Categoria_d IS NULL
                        OR ART.co_cat >= @cCo_Categoria_d
                      )
                      AND ( @cCo_Categoria_h IS NULL
                            OR ART.co_cat <= @cCo_Categoria_h
                          )
                    )
                AND ( ( @cCo_Almacen_d IS NULL
                        OR FVR.co_alma >= @cCo_Almacen_d
                      )
                      AND ( @cCo_Almacen_h IS NULL
                            OR FVR.co_alma <= @cCo_Almacen_h
                          )
                    )
                AND ( ( @cCo_Transporte_d IS NULL
                        OR FV.co_tran >= @cCo_Transporte_d
                      )
                      AND ( @cCo_Transporte_h IS NULL
                            OR FV.co_tran <= @cCo_Transporte_h
                          )
                    )
                AND ( @cCo_Moneda IS NULL
                      OR @cCo_Moneda = FV.co_mone
                    )
                AND ( ( @cStatus = 'TODO' )
                      OR ( @cStatus = 'SDES'
                           AND FV.status = 0
                         )
                      OR ( @cStatus = 'PDES'
                           AND FV.status = 1
                         )
                      OR ( @cStatus = 'DESP'
                           AND FV.status = 2
                         )
                    )
                AND ( ( @cAnulado = 'TODO' )
                      OR ( @cAnulado = 'SIT'
                           AND FV.anulado = 1
                         )
                      OR ( @cAnulado = 'NOT'
                           AND FV.anulado = 0
                         )
                    )
                AND ( @cCo_Sucursal IS NULL
                      OR @cCo_Sucursal = FV.co_sucu_in
                    )
            ) A
        ORDER BY
            CASE @sDir
              WHEN 'DESC' THEN CASE @sCampOrderBy
                                 WHEN 'doc_num' THEN doc_num
                               END
            END DESC, CASE @sDir
                        WHEN 'DESC' THEN CASE @sCampOrderBy
                                           WHEN 'fec_emis' THEN fec_emis
                                         END
                      END DESC, CASE @sDir
                                  WHEN 'ASC' THEN CASE @sCampOrderBy
                                                    WHEN 'doc_num' THEN doc_num
                                                  END
                                END ASC, CASE @sDir
                                           WHEN 'ASC' THEN CASE @sCampOrderBy
                                                             WHEN 'fec_emis' THEN fec_emis
                                                           END
                                         END ASC
    END
