@{
    ViewBag.Title = "Seleccion Sucursal";
}
<style>
header, footer, #menu {
	display: none !important;
}
.banner {
	width: 100%;
	min-height: 100vh;
	background: #200122;
	background: -webkit-linear-gradient(to right, #6f0000, #200122);
	background: linear-gradient(to right, #6f0000, #200122);
	display: flex;
	justify-content: center;
	align-items: center;
}
form {
    width: 100%;
    min-height: 600px !important;
    max-width: 1200px;
    min-height: auto;
    background: rgba(0, 0, 0, 0.5);
	margin: 10px 0;
    padding: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    /*justify-content: center*/;
    color: #f0f0f0;
	overflow-y: auto;
}
.title-login {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-login p {
    font-size: 14px;
}
.container-cards {
    flex: 5;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
}
.card-prod {
    width: 100%;
    max-width: 275px;
    height: 125px;
    background: #c0392b;
    margin: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.card-prod i {
    color: #640d04;
    font-size: 4em;
}
.card-prod h5 {
    max-width: 150px;
    margin: 0;
	font-size: 15px;
}
.card-prod.selected-card {
    outline: solid #FFF 5px;
}
.btn-info {
	min-width: 275px;
}
</style>
<section class="container-fluid banner">
	<form action="/Home/Dashboard" method="post">
		<div class="title-login pt-4 pb-2">
			<h1 class="text-center">Seleccionar Sucursal</h1>
		</div>
		<div class="container-cards px-3">
			@{
				foreach (var item in ViewBag.branchs)
				{
					string id = item.co_sucur.ToString().Trim(), name = item.sucur_des.Trim();

					<div class="card-prod shadow-lg" id="@id">
						<i class="fas fa-building"></i>
						<h5 class="text-white font-weight-bold">@name</h5>
					</div>
				}
			}
		</div>
		<input type="hidden" id="sucur" name="sucur" value="" />
		<div class="col-md-12 text-center pt-2 pb-4">
			<button type="button" id="btn-send" class="btn btn-info w-75 px-5 py-3" onclick="send(this)" disabled>Seleccionar sucursal</button>
		</div>
	</form>
</section>
<script>
	var submitted = false;

	$(document).ready(function () {
		$(".card-prod").hide().fadeIn(1500);
	});

	$(".card-prod").click(function () {
		if (!submitted) {
			$(".card-prod.selected-card").removeClass("selected-card");
			$(this).addClass("selected-card");
			$("#sucur").val(this.id);

			if ($("#btn-send").prop('disabled'))
				$("#btn-send").prop('disabled', false)
		}
	});

	function send(elem) {
		$(elem).prop("disabled", "true");
		$("form").trigger("submit");
		submitted = true;
	}

</script>