@{
	ViewBag.Title = "Usuarios";
}

<style>
table#table-users {
    border-top: solid 10px transparent !important;
}
.table-info {
    overflow-x: auto;
}
table thead {
    background: #c0392b;
    color: #FFF;
}
table thead th {
    padding: 10px;
}
table tbody td {
    font-size: 14px;
    user-select: none;
    vertical-align: middle !important;
}
table tbody, table tbody tr, table tbody td {
    border: 0;
    border-style: none;
}
.btn.btn-success {
    color: #FFF;
}
input[type=checkbox] {
    display: block;
    margin: 0 auto;
}
.cell-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cell-buttons .btn {
    width: 38px;
	margin: 5px;
	padding: 5px !important;
    padding: 0;
}
.modal-delete .fas {
    font-size: 6em;
    padding: 5%;
}
select[name="table-users_length"] {
    background: #FFF !important;
    border: solid 1px #ced4da !important;
    box-shadow: none;
}
#table-users_filter input {
    background: #FFF;
    border: solid 1px #ced4da;
    border-radius: 5px;
}
#table-users_paginate {
    user-select: none;
}
#table-users_paginate > a:not(.disabled) {
    background: #0d6efd;
    color: #FAFAFA !important;
    border-radius: 5px;
}
#table-users_paginate > a:not(.disabled):hover {
    background: #0b5ed7;
}
#table-users_paginate > span a.paginate_button:not(.disabled).current, #table-users_paginate > span a.paginate_button:not(.disabled):hover {
    background: none;
    border: solid 2px #0d6efd;
    border-radius: 5px;
    color: #333 !important;
}
</style>
<link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>
<div class="container-fluid" ng-app="Users" ng-controller="controller">
	<div class="row mt-3">
		<div class="col">

		</div>
		<div class="col">
			<h2 class="m-0 text-center">Usuarios</h2>
		</div>
		<div class="col">

		</div>
	</div>
	<hr />
	<div class="table-info">
		<table class="table table-striped mt-3" id="table-users">
			<thead>
				<tr>
					<th>ID</th>
					<th>Usuario</th>
					<th>Nombre</th>
					<th>Fecha Registro</th>
					<th>Email</th>
					<th class="text-center">Activo</th>
					<th class="text-center">Admin</th>
					<th class="text-center">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{ user.ID }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.des_usuario }}</td>
					<td>{{ formatDate(user.fe_us_in) }}</td>
					<td>{{ user.email }}</td>
					<td><input type="checkbox" onclick="return false" ng-model="user.activo" /></td>
					<td><input type="checkbox" onclick="return false" ng-model="user.admin" /></td>
					<td class="cell-buttons">
						<button type="button" class="btn btn-primary" ng-click="setLocation(user.ID)">
							<i class="fas fa-file-edit"></i>
						</button>
						<button type="button" class="btn btn-danger" ng-click="setDelete(user)">
							<i class="fas fa-times"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script src="~/Scripts/angular-min.js"></script>
<script>
	var app = angular.module("Users", []);
	var users = @Html.Raw(Json.Encode(ViewBag.users));

	for (var item of users) {
		item.fe_us_in = new Date(parseInt(item.fe_us_in.substr(6)));
	}

	app.controller("controller", function ($scope, $http) {

		$scope.users = users;
		$scope.userDelete = {};

		$scope.formatDate = function (date) {

			var day = date.getDate(), month = date.getMonth() + 1, year = date.getFullYear();

			if (day < 10)
				day = "0" + day;

			if (month < 10)
				month = "0" + month;

			return day + "/" + month + "/" + year;
		}

		$scope.setLocation = function (id) {
			location.href = "/Usuarios/Editar?id=" + id;
		}

		$scope.setDelete = function (user) {
			$scope.userDelete = user;
			$("#modalDelete").modal("show");
		}

		$scope.deleteUser = function (id) {

			$http.get("/api/ProfitTMApi/DeleteUser/" + id)
				.then(function (response) {

					console.log(response.data);
					var res = response.data;

					$scope.show = true;
					$("#modalDelete").modal("hide");

					if (res.Status == "OK") {
						$scope.users = $scope.users.filter(u => u.ID != id);
						$scope.message = "El usuario se ha eliminado con éxito";
						$scope.class = "alert alert-success mt-2";
					} else {
						$scope.message = "Ha ocurrido un error => " + res.Message;
						$scope.class = "alert alert-danger mt-2";
					}

				});
		}

	});

</script>